	body {

		/*background-color: #E0E0E0;*/
		background-image: url("HD-USA-Flag-Iphone-Backgrounds.jpg");
	}
	h1 {
		color: white;
		background-color: black
	}

	h2 {
		color: blue;
	}

	th {
		color: red;
		background-color: #99CCFF;
	}

	table {
		color: rgb(0,0,255);
		
	}

	li {

		color: purple;
	}

	tr {

		font-size: 25px;
		color: rgb(0,0,255);
	}