table {
    border-collapse: collapse;
    width: 100%;

}

table, th, td {
    border: 1px solid black;
    /*height: 25px;*/
}

th {
    background-color: #4CAF50;
    color: white;
    height: 30px;
}

td {
    padding: 5px;
    text-align: center;
}

p {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    text-align: justify-all;
}

h1 {
    color: green;
    text-align: center;
}
